<head>
    <title>Financial Portal</title>
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Welcome to Financial Robo Advisor</h2>
        <form action="/ai_agent" method="post">
            <input type="submit" value="AI Agent">
        </form>
        <form action="/prediction" method="post">
            <input type="submit" value="prediction">
        </form>
        <form action="/SA" method="post">
            <input type="submit" value="Sentiment Analysis">
        </form>
        <form action="/paynow" method="post">
            <input type="submit" value="Paynow">
        </form>
</div>
</body>
